.product {
    width: 300px;
    height: 508px;
    border: 1px solid #96A0A7;
    border-radius: 8px;
    position: relative;
}

.product img {
    width: 286px;
    height: 286px;
    border-radius: 10px;
    margin: 7px;
}

.product-info {
    margin: 0 14px;
}

.product-info p {
    margin-bottom: 0;
    margin-top: 5px;
}

/* .sr-container {
    margin-top: 70px;
} */

.product-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
    margin-top: 7px;
}

.button-cart {
    background-color: #FFE0B3;
    border: none;
}

.button-cart:hover {
    background-color: rgb(215, 184, 147);
}