.header {
    height: 80px;
    background-color: #1C2B35;
}

.header a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}

.header a:hover {
    color: orange;
}

.ul-content {
    background-color: #1C2B35;
}